<template>
  <div style="padding: 0.7rem">
    <h2 class="kpi" style="margin-bottom: 0; font-size: 2rem;">{{ kpi }}</h2>
    <h2
      class="legend"
      style="padding: 0; margin: 0 auto; font-size: 1rem; width: 160px;"
    >
      {{ name }}
    </h2>
  </div>
</template>
<script>
export default {
  props: {
    kpi: String,
    name: String,
  },
};
</script>

<style lang="scss" scoped>
.kpi {
  font-weight: normal;
  font-size: 44px;
  line-height: 35px;
  text-align: center;
  color: #00c09b;
}

.legend {
  font-weight: normal;
  font-size: 24px;
  line-height: 35px;
  text-align: center;
  color: #7b848e;
}
</style>
