<template>
  <div>
    <div
      class="image"
      :style="{
        backgroundImage: `linear-gradient(rgba(17, 17, 17, 0), #262D34 100%), url(${img})`,
      }"
    >
      <!--       <h3
        :class="
          ({ serify: fontStyle == 'serif' },
          { 'sans-serif': fontStyle == 'sansSerif' })
        "
      >
        {{ msg }}
      </h3> -->
      <h3 v-if="fontStyle == 'serif'" class="serify">
        {{ msg }}
      </h3>
      <h3 v-if="fontStyle == 'sansSerif'" class="sans-serif">
        {{ msg }}
      </h3>
    </div>
  </div>
</template>

<script>
export default {
  name: "TheHeader",
  props: {
    msg: String,
    fontStyle: String,
  },
  data() {
    return {
      img: "https://source.unsplash.com/featured/?goodvibe",
    };
  },
};
</script>
<style scoped>
h3 {
  font-size: 3rem;
  margin: 0 auto;
}

.image {
  min-width: 200px;
  max-width: 600px;
  height: 600px;
  max-height: 600px;
  padding: 2rem;
  margin: 0 auto;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
}

.serify {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  text-transform: uppercase;
  color: white;
}

.sans-serif {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}
</style>
