<template>
  <div>
    <h1>Trivia Card</h1>
    <div>
      <select v-model="selectedSport">
        <option v-for="sport in sports" :key="sport">
          {{ sport }}
        </option>
      </select>
      <input
        ref="insertText"
        type="text"
        placeholder="Escreve aqui a tua trivia"
        v-model="triv"
      />
      <button v-if="showTag" @click="showTag = false">HIDE TAG</button>
      <button v-if="!showTag" @click="showTag = true">SHOW TAG</button>
      <div><input v-if="showTag" type="text" v-model="tag" /></div>
    </div>
    <div>
      <button @click="bgPosition = 'left'">LEFT</button>
      <button @click="bgPosition = 'center'">CENTER</button>
      <button @click="bgPosition = 'right'">RIGHT</button>
    </div>
    <div id="my-node" style="width: 664px; display: inline-block;">
      <div
        class="image center"
        :class="{
          bgLeft: bgPosition === 'left',
          bgCenter: bgPosition === 'center',
          bgRight: bgPosition === 'right',
        }"
        :style="{
          backgroundImage: `linear-gradient(rgba(17, 17, 17, 0), #262D3460), url(${img})`,
        }"
      >
        <div class="center">
          <h5 v-if="showTag" style="display: inline-block">
            {{ tag }}
          </h5>
          <h3 @click="inputFocus()">
            {{ triv }}
          </h3>
          <img
            width="166px"
            src="https://res.cloudinary.com/betmarkets/image/upload/v1567614196/branding/betmarkets_light_logo_notagline_i63shv.png"
            alt=""
          />
        </div>
      </div>
    </div>
    <div>
      <button
        style="background-color: #00ab78; color: white; cursor: pointer;"
        @click="downloadImage()"
      >
        Download Art
      </button>
    </div>
  </div>
</template>
<script src="path/to/dom-to-image-more.min.js" />
<script>
import domtoimage from "dom-to-image-more";
import { saveAs } from "file-saver";

export default {
  data() {
    return {
      bgPosition: "center",
      tag: "#BetmarketsTrivia",
      showTag: true,
      triv: "Start here",
      selectedSport: "baseball",
      sports: [
        "baseball",
        "basketball",
        "esports",
        "football",
        "golf",
        "hockey",
        "horse-racing",
        "mma",
        "soccer",
        "tennis",
        "volleyball",
      ],
    };
  },
  computed: {
    img() {
      return require(`@/assets/trivia/${this.selectedSport}.jpg`);
    },
  },

  methods: {
    inputFocus() {
      this.$refs.insertText.focus();
    },

    downloadImage() {
      domtoimage
        .toBlob(document.getElementById("my-node"))
        .then(function(blob) {
          window.saveAs(blob, "my-node.png");
        });
    },
  },
};
</script>

<style lang="scss" scoped>
@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@300;400;500;700;900&display=swap");
@import "@/assets/styles/main";
h3 {
  font-size: 2rem;
  font-weight: 400;
  margin: 2rem auto;
  color: white;
  text-align: center;
}

h5 {
  color: white;
  background-color: #ff6138;
  padding: 0.5rem 1rem;
  margin: 0 auto;
  border-radius: 4px;
  text-align: center;
}

.bgLeft {
  background-position: left;
}
.bgCenter {
  background-position: center;
}
.bgRight {
  background-position: right;
}

.center {
  margin: 0 auto;
}
</style>
