.image {
  height: 600px;
  width: 600px;
  padding: 2rem;
  background-size: cover;
  display: inline-flex;
  align-items: center;
}

.date {
  margin-top: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 33px;
  text-align: center;
  letter-spacing: 0.19em;
  text-transform: uppercase;
  color: #a1aab4;
}

select {
  height: 48px;
  width: 260px;
  border-radius: 8px;
  border: 1px solid lightgrey;
  padding: 1rem;
  color: grey;
  margin: 1rem;
}
